body {
  text-align: center;
}

#h1,
h2 {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn1 {
  background-color: black;
  color: aqua;
  border-top-left-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn2 {
  background-color: black;
  color: aqua;
  border-bottom-right-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn3 {
  background-color: black;
  color: aqua;
  border-top-left-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn4 {
  background-color: black;
  color: aqua;
  border-bottom-right-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn5 {
  background-color: black;
  color: aqua;
  border-top-left-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn6 {
  background-color: black;
  color: aqua;
  border-bottom-left-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn7 {
  background-color: black;
  color: aqua;
  border-top-left-radius: 10px;
  margin: 5px;
  font-size:larger;
}

#btn8 {
  background-color: red;
  color: white;
  border-radius: 10px;
  margin: 5px;
  font-size:larger;
}